$sapienza-color: #822433;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Landing Page
.showcase {
  position: relative;
  background: url("../img/background.jpg") no-repeat center center/cover;
  height: 100vh;

  &-dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(#222, 0.7);
  }

  &-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      height: 150px;
      width: 150px;
    }
  }

  h1 {
    font-size: 25px;
  }
}
